repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: check-docstring-first
    - id: end-of-file-fixer
    - id: trailing-whitespace
      exclude: ^\.napari-hub/.*
    - id: check-yaml
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.10
  hooks:
    - id: ruff
      args: [
        --output-format, grouped,
      ]
- repo: https://github.com/tlambert03/napari-plugin-checks
  rev: v0.3.0
  hooks:
    - id: napari-plugin-checks
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
   -  id: mypy
      additional_dependencies: [
        'numpy',
      ]
